:host {
  display: block;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.layout-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: var(--bg-light);
}

.navbar-wrapper {
  width: 100%;
  height: var(--navbar-height);
  flex-shrink: 0;
  z-index: var(--z-navbar);
  position: sticky;
  top: 0;
}

.content-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: calc(100vh - var(--navbar-height));
  overflow: hidden;
}

@media (max-width: 768px) {
  .content-container {
    flex-direction: column;
  }
}
