<div class="orders-section">

  <mat-tab-group [(selectedIndex)]="selectedTabIndex"
                 class="orders-tabs"
                 [animationDuration]="'200ms'">

    <mat-tab>
      <!-- Tab Label -->
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">list</mat-icon>
        <span>Orders</span>
      </ng-template>

      <!-- Tab Content -->
      <div class="orders-tab-content">

        <!-- Action Toolbar (Inside Orders Tab) -->
        <app-orders-action-toolbar
          [selectedCount]="selectedOrders.length"
          [selectedVehiclesCount]="selectedVehiclesCount"
          [hasSelection]="selectedOrders.length > 0"
          [loading]="isLoading"
          (importClick)="onImportClick()"
          (addClick)="onAddClick()"
          (planRoutesClick)="onPlanRoutesClick()"
          (deleteSelectedClick)="onDeleteSelected()"
          (exportClick)="onExportClick()"
          (refreshClick)="loadOrders()">
        </app-orders-action-toolbar>

        <!-- Filters (Inside Orders Tab) -->
        <app-orders-filters
          (filterChange)="onFilterChange($event)">
        </app-orders-filters>

        <!-- Orders Table -->
        <app-orders-table
          [orders]="orders"
          [totalElements]="totalElements"
          [pageSize]="pageSize"
          [currentPage]="currentPage"
          (pageChange)="onPageChange($event)"
          (selectionChange)="onOrderSelectionChange($event)"
          (editOrder)="onEditOrder($event)">
        </app-orders-table>
      </div>
    </mat-tab>


    <mat-tab [disabled]="!solution">
      <!-- Tab Label -->
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">alt_route</mat-icon>
        <span>Route</span>
        <mat-icon class="lock-icon" *ngIf="!solution">lock</mat-icon>
      </ng-template>

      <!-- Tab Content -->
      <div class="routes-tab-content">
        <app-route-view
          *ngIf="solution"
          [solution]="solution">
        </app-route-view>

        <div class="empty-state" *ngIf="!solution">
          <mat-icon>route</mat-icon>
          <p>No route solution available</p>
          <small>Select orders and vehicles, then click "Plan Routes"</small>
        </div>
      </div>
    </mat-tab>


    <mat-tab [disabled]="!solution">
      <!-- Tab Label -->
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">timeline</mat-icon>
        <span>Timeline</span>
        <mat-icon class="lock-icon" *ngIf="!solution">lock</mat-icon>
      </ng-template>

      <!-- Tab Content -->
      <div class="timeline-tab-content">
        <app-timeline-view
          *ngIf="solution"
          [solution]="solution">
        </app-timeline-view>

        <div class="empty-state" *ngIf="!solution">
          <mat-icon>access_time</mat-icon>
          <p>No timeline available</p>
          <small>Run optimization to see timeline</small>
        </div>
      </div>
    </mat-tab>

  </mat-tab-group>

  <!-- Loading Overlay (over entire section) -->
  <div class="loading-overlay" *ngIf="isLoading">
    <mat-spinner [diameter]="50" [color]="'primary'"></mat-spinner>
    <p class="loading-text">Loading orders...</p>
  </div>

</div>
