/* styles/main.css */

/* 1. Base */
@import 'base/variables.css';
@import 'base/reset.css';
@import 'base/typography.css';

/* 2. Layout */
@import 'layout/layout.css';
@import 'layout/navbar.css';
@import 'layout/sidebar.css';

/* 3. Components */
@import 'components/buttons.css';
@import 'components/forms.css';
@import 'components/cards.css';
@import 'components/tables.css';
@import 'components/stats.css';
@import 'components/modals.css';
@import 'components/misc.css';
@import 'components/view.css';

/* 4. Screens */
@import 'screens/depot-setup.css';
@import 'screens/vehicle-type-setup.css';
@import 'screens/fleet-setup.css';
@import 'screens/main-screen.css';

/* 5. Utilities */
@import "utils/z-index.css";